.recipe-list {
    width: 700px;
    min-height: 400px;
    margin: 70px auto;
    padding-left: 36px;
}

.search-recipe {
    padding-left: 24px;
}


.recipe-list-title {
    padding: 24px;
}

